<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        html, body {
            margin: 0;
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    <h2>Hello Web from React Native</h2>
    <button>Send message from web</button>
    <textarea style="height: 50%; width: 100%;" readonly></textarea>
    <script>
        const log = document.querySelector('textarea')
        function logMessage(message) {
            log.append(Date.now() + " | " + message + "\n");
        }
        document.querySelector("button").onclick = function() {
            const message = 'message from web view'
            logMessage(message)
            window.postMessage(JSON.stringify(message))
        }
        document.addEventListener("message", function(event) {
            const message = JSON.parse(event.data)
            logMessage(message)
        }, false)
    </script>
</body>
</html>